# Gradle
.gradle/
/build/
**/build/

# Android Studio
*.iml
/.idea/

# NDK build outputs and downloaded sources
third_party/

# Temporary scripts output
native-sea-openssl/src/main/jniLibs/
native-sea-openssl/src/main/assets/

# OS
.DS_Store
.gradle-wrapper

node_modules/
.cxx
*.aar